* {
  margin: 0px;
  font-family: "poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 45.62px;
  color: black;
  padding: 30px 0px 30px 0px;
}

.logo-coffe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: #0b132a;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #4f5665;
  font-weight: 500;
  font-size: 15px;
}

.menu a:hover {
  color: #6a4029;
  font-weight: 700;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.btn a {
  text-decoration: none;
  color: #0b132a;
  font-weight: 700;
  font-size: 15px;
}

.btn-signup {
  background-color: #6a4029;
  color: white;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  border: none;
}

.background {
  background-image: url(/image/gambar10.svg);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.txt-bg {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 0px 0px 100px;
  gap: 10px;
  font-size: 20px;
  font-weight: 100;
  line-height: 50px;
}

.txt-bg2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  padding: 10px 0px 0px 0px;
  font-size: 15px;
  line-height: 30px;
}

.get-started {
  display: flex;
  background-color: #ffba33;
  color: #0b132a;
  padding: 20px 50px 20px 50px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.btn-search {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  left: 47rem;
  width: 300px;
  bottom: 17em;
}

.search {
  width: 100%;
  padding: 15px 40px 15px 40px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
}

.logo-search {
  position: relative;
  left: 15px;
}

input::placeholder {
  border: none;
  font-weight: 700;
}

.logo-search {
  position: absolute;
  left: 15px;
}
input:focus::placeholder {
  font-size: 0px;
  border: none;
}

.member {
  display: flex;
  height: 200px;
  width: 1050px;
  background-color: white;
  position: absolute;
  top: 560px;
  left: 100px;
  radius: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px #585555;
  justify-content: space-between;
}

.member1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 200px;
  list-style-type: none;
}

.teamwork {
  width: 80%;
  /* display: flex; */
  /* align-items: center; */
  gap: 100px;
  padding: 100px;
}

.teamworkp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
  line-height: 40px;
}

.teamworkp1 {
  line-height: 30px;
  gap: 10px;
}

.teamwork1 {
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-end;
  list-style-type: none;
  flex-direction: column;
  top: 850px;
  left: 700px;
  gap: 10px;
  line-height: 10px;
}

.ceklis {
  display: flex;
  position: absolute;
  align-items: center;
  top: 1030px;
  left: 700px;
}

.ceklis0 {
  width: 520px;
}

.ceklis1 {
  display: flex;
  align-items: center;
  line-height: 50px;
  gap: 10px;
}

.menu-makanan {
  text-align: center;
  padding: 40px;
  font-weight: 500px;
  line-height: 50px;
  width: 93.5%;
  height: 120px;
  background-color:#F5F5F5;

}


.menu-makanan1 {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color:#F5F5F5;
}

.menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 50px 70px 50px;
  background-color: white;
  border-radius: 10px;
}

.komposisi1 {
  display: flex;
  padding-top: 40px;
  padding-bottom: 70px;
  /* background-color: #0b132a; */
}

.order {
  display: flex;
  padding: 15px 50px 15px 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  border-color: #ffba33;
  cursor: pointer;
  /* background-color: #ffba33; */
}

.order3 {
  display: flex;
  padding: 15px 50px 15px 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-color: #ffba33;
}


.harga{
  display: flex;
  width: auto;
  height: auto;
  padding: 20px;
  /* background-color: #ffba33; */
}
